.location-section {
    margin: 2rem;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid #f0f0f0;
}

@media (min-width: 1024px) {
    .location-section {
        margin: 2rem 22%;
    }
}

@media (max-width: 1023px) {
    .location-section {
        margin: 1rem 5%;
    }
}

@media (max-width: 767px) {
    .location-section {
        margin: 1rem 5%;
        padding: 1rem;
    }
}



.reel-wrapper {
  position: relative;
  width: 100%;
  padding-top: 177.77%; /* 9:16 aspect ratio */
  max-width: 320px; /* default for mobile */
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgb(193, 2, 2);
}

.reel-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Tablet */
@media (min-width: 768px) {
  .reel-wrapper {
    max-width: 480px;
  }
}

/* Laptop/Desktop */
@media (min-width: 1024px) {
  .reel-wrapper {
    max-width: 700px; /* bigger reel display */
  }
}