.welcome-text {
  font-family: 'Inter';
  font-size: 4.0rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1496px) {
  .welcome-text {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .welcome-text {
    font-size: 1.5rem;
  }
}

.tag-text {
  font-size: 2.0rem;
}

@media (max-width: 1496px) {
  .tag-text {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 767px) {
  .tag-text {
    font-size: 1.2rem;
  }
}

.desc-text {
  font-size: 1.6rem;
}

@media (max-width: 1496px) {
  .desc-text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .desc-text {
    font-size: 1.0rem;
  }
}

.greetings-container {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 2%;
}

/* Responsive padding for different screen sizes */
@media (max-width: 1496px) {
  .greetings-container {
    padding-top: 8%;
    padding-bottom: 4%;
  }
}

@media only screen and (max-width: 767px) {
  .greetings-container {
    padding-top: 10%;
    padding-bottom: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .greetings-container {
    top: 35vh;
    /* For tablets */
  }
}

@media only screen and (min-width: 992px) {
  .greetings-container {
    top: 10vh;
    /* For desktops */
  }
}

@media only screen and (max-width: 767px) {
  .greetings-container {
    top: 25vh;
    /* For mobile devices */
  }
}