.grid-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.item-date {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  /* Adjusted margin for better spacing under the title */
  margin-bottom: 15px; 
}


/* Container for the side-by-side image and text */
.item-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns items to the top */
  text-align: left;
  gap: 20px;
}

.item-image {
  width: 360px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 0;
}

.item-image.enlarged {
  transform: scale(1.5);
  z-index: 2;
}

/* New wrapper for title and description */
.item-text-content {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allows this column to take up remaining space */
}

/* Title is now aligned with the image */
.item-title {
  margin-top: 0;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  /* Changed from left to center */
  text-align: left; 
}

.item-description {
  font-size: 1.3rem;
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  /* flex: 1; is no longer needed here */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 20px;
  padding: 60px;
}

/* Tablet view */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .item-content {
    flex-direction: column; /* Stacks image on top of text block */
    align-items: center;
    text-align: center;
  }
  
  .item-title {
    text-align: center; /* Center title on tablets */
  }

  .item-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .item-description {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .grid-container {
    padding: 20px;
  }

  .item-description {
    font-size: 1rem;
  }

  .item-image {
    max-height: 300px;
  }
}


.year-header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 5% 20px 5%;
}

.year-header {
  flex: 1;
  min-width: 120px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  padding: 14px 20px;
  background-color: #d2d2d2;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  max-width: 200px;
}

.year-header:hover {
  background-color: #bcbcbc;
}

.year-header.active {
  background-color: #bc0f42;
  color: white;
}