.slider-container {
    overflow: hidden;
    /* Hide the overflowing part */
    width: 100%;
    /* Adjust width to container */
}

.slider {
    display: flex;
    animation: scroll 30s linear infinite;
    /* Infinite scrolling animation */
}

.slide {
    flex: 0 0 auto;
    width: 200px;
    /* Set a fixed width for the images */
    margin-right: 20px;
    /* Add some spacing between images */
}

.slide img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    /* Make sure the images scale properly */
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .slide {
        width: 60px;
        /* Smaller width for images on mobile */
        margin-right: 10px;
        /* Adjust spacing between images */
    }

    .slider {
        animation: scroll 40s linear infinite;
        /* Slower scroll for mobile */
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}